*{
	font-family: 'Solway', serif;
	box-sizing:border-box;
}
body, html{
	height:100%;
}
body{
	margin:0px;
	background-color:#030009;
}
.container{
	max-height:100vh;
	padding:10px;
	display:flex;
	flex-direction:column;
}
.header{
	height:20px;
	margin-bottom:10px;
	background-color:#E39F30;
	width:100%;
	display:flex;
	align-items:center;
}
.header .location{
	flex-grow:1;
	color:#030009;
	padding-left:10px;
	padding-right:10px;
}
.header .moves{
	min-width: 25%;
	color:#030009;
	padding-left:10px;
	padding-right:10px;
}
.input-set{
	display:flex;
	flex-direction:row;
	align-items:center;
	height:20px;
}
.input-set:before{
	content:">";
	margin-right:5px;
	color:#E39F30;
}
.input-set input{
	flex-grow:1;
	resize:none;
	max-height:20px;
	background-color:transparent;
	border:transparent;
	color:#E39F30;
	font-size:15px;
}
.field{
	color:#E39F30;
	margin-bottom:15px;
	overflow-y:auto;
}